Repository jakubstetz/portfolio-insights-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

chore: adjust project directories and commit .env to repo
  .env
  .gitignore
Due: none

docs: add last name to MIT License
  LICENSE.txt
Due: none

feat: implement use of dummy user ID in relevant API calls to accommodate new use of user ID in backend
  App.jsx
  Components/AlertCreationPrompt/AlertCreationPrompt.jsx
  Components/AlertsArea/AlertsArea.jsx
Due: npm run lint, npm run format

docs: add clarifying comment
  .env
Due: none

chore: move core project files to new src directory, remove unused variables
  index.html
  src/App.jsx
  src/Components/Alert/Alert.css
  src/Components/Alert/Alert.jsx
  src/Components/AlertCreationPrompt/AlertCreationPrompt.css
  src/Components/AlertCreationPrompt/AlertCreationPrompt.jsx
  src/Components/AlertsArea/AlertsArea.css
  src/Components/AlertsArea/AlertsArea.jsx
  src/Components/AlertsManager/AlertsManager.css
  src/Components/AlertsManager/AlertsManager.jsx
  src/Components/Chart/Chart.css
  src/Components/Chart/Chart.jsx
  src/Components/ChartArea/ChartArea.css
  src/Components/ChartArea/ChartArea.jsx
  src/Components/Header/Header.css
  src/Components/Header/Header.jsx
  src/Components/SearchBar/SearchBar.css
  src/Components/SearchBar/SearchBar.jsx
  src/fonts/fonts.css
  src/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf
  src/fonts/inter/Inter-VariableFont_opsz,wght.ttf
  src/index.css
  src/jakub-baseline.css
  src/main.jsx
Due: npm run lint, npm run format

feat: add favicon to project
  index.html
  public/favicon.ico
  public/favicon.png
Due: npm run format

feat: implement login context
  src/context/AuthContext.jsx
Due: npm run lint, npm run format

feat: implement and style login/register page
  src/App.css
  src/App.jsx
  src/Components/LoginPage/LoginPage.css
  src/Components/LoginPage/LoginPage.jsx
Due: npm run lint, npm run format

minor: rename "context" directory to "contexts"
  src/contexts/AuthContext.jsx
Due: npm run lint, npm run format

feat: wrap App in authorization context provider
  src/main.jsx
Due: npm run lint, npm run format

docs: create README.md
  README.md
Due: npm run format

feat: add user indication and logout button to header
  src/Components/Header/Header.css
  src/Components/Header/Header.jsx
  src/index.css
Due: npm run lint, npm run format

feat: add authorization headers with JWT to relevant API calls
  src/Components/AlertCreationPrompt/AlertCreationPrompt.jsx
  src/Components/AlertsArea/AlertsArea.jsx
Due: npm run lint, npm run format

fix: fix mistimed reset of alert validity check loading screen
  src/Components/AlertCreationPrompt/AlertCreationPrompt.jsx
Due: npm run lint, npm run format

fix: fix broken token retrieval from GET /login response
  src/Components/LoginPage/LoginPage.jsx
Due: npm run lint, npm run format

feat: implement and style guest user login button on login page
  src/Components/AlertsArea/AlertsArea.jsx
  src/Components/LoginPage/LoginPage.css
  src/Components/LoginPage/LoginPage.jsx
  src/Components/SearchBar/SearchBar.css
  src/index.css
Due: npm run lint, npm run format

feat: implement automatic logout on token expiration
  src/Components/AlertCreationPrompt/AlertCreationPrompt.jsx
  src/Components/AlertsArea/AlertsArea.jsx
  src/contexts/AuthContext.jsx
  src/utils/api.js
Due: npm run lint, npm run format

fix: add toast notification on successful alert deletion
  src/Components/AlertsArea/AlertsArea.jsx
Due: npm run lint, npm run format

fix: correct toast styling on session/token expiration
  src/utils/api.js
Due: npm run lint, npm run format

feat: improve toast notification display durations and clearing across authentication flow
  src/App.jsx
  src/Components/LoginPage/LoginPage.jsx
  src/contexts/AuthContext.jsx
Due: npm run lint, npm run format

Path conditions:
  npm run lint: any of: **/*.{js,jsx}
  npm run format: (any of: **/*.{js,jsx}) or (any of: **/*.{html,css,json,md,yaml,toml})
