Repository jakubstetz/portfolio-insights-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run lint, npm run format, backend/.venv/bin/black

chore: fix lint-staged black execution configuration
  .lintstagedrc
Due: none

minor: decrease whitespace below chart
  frontend/Components/Chart/Chart.css
Due: npm run format

minor: log API response on alerts search to console
  frontend/Components/AlertsArea/AlertsArea.jsx
Due: cd frontend && npm run lint, npm run format

chore: update Husky config
  .husky/pre-commit
Due: none

chore: add GitHub Action manual trigger
  .github/workflows/backend.yaml
Due: npm run format

fix: change period to startDate in /stocks endpoint queries to account for migration from yfinance to Tiingo
  frontend/Components/ChartArea/ChartArea.jsx
Due: cd frontend && npm run lint, npm run format

chore: remove directory specifications for .js, .jsx, and .py auto-formatting
  .lintstagedrc
Due: none

chore: add Go formatting command to lint-staged config
  .lintstagedrc
Due: none

fix: adjust for new JSON response object structure
  frontend/Components/Chart/Chart.jsx
Due: cd frontend && npm run lint, npm run format

chore: delete unnecessary .dockerignore file
  frontend/.dockerignore
Due: none

chore: move frontend files to new repo root directory
  .prettierignore
  App.jsx
  Components/Alert/Alert.css
  Components/Alert/Alert.jsx
  Components/AlertCreationPrompt/AlertCreationPrompt.css
  Components/AlertCreationPrompt/AlertCreationPrompt.jsx
  Components/AlertsArea/AlertsArea.css
  Components/AlertsArea/AlertsArea.jsx
  Components/AlertsManager/AlertsManager.css
  Components/AlertsManager/AlertsManager.jsx
  Components/Chart/Chart.css
  Components/Chart/Chart.jsx
  Components/ChartArea/ChartArea.css
  Components/ChartArea/ChartArea.jsx
  Components/Header/Header.css
  Components/Header/Header.jsx
  Components/SearchBar/SearchBar.css
  Components/SearchBar/SearchBar.jsx
  assets/fonts/fonts.css
  assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf
  assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf
  eslint.config.js
  index.css
  index.html
  jakub-baseline.css
  main.jsx
  vite.config.js
Due: npm run format

chore: combine package.json files into one and install project dependencies
  frontend/package.json
  package-lock.json
  package.json
Due: npm run format

chore: remove unnecessary workflow
  .github/workflows/backend.yaml
Due: npm run format

chore: remove backend references from config files
  .gitignore
  .lintstagedrc
Due: none

chore: add license
  LICENSE.txt
Due: none

Path conditions:
  cd frontend && npm run lint: any of: frontend/**/*.{js,jsx}
  npm run format: (any of: frontend/**/*.{js,jsx}) or (any of: **/*.{html,css,json,md,yaml,toml})
  backend/.venv/bin/black: any of: backend/**/*.py
